@import url('https://fonts.googleapis.com/css?family=Staatliches');

*{
    box-sizing: border-box;
    font-family: 'Staatliches', serif;
}

html{
    min-width:600px;
}

body{
    background-color: #282B2A;
    color: white;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
}

header{
    min-width: 600px;
}

form{
    display:inline-block;
}

#fileName{
    font-family: 'Arial', serif;
}


.blueButton{
    display: inline-block;
    max-width: 100%;
    width: 8.0em;
    height: 2.2em;
    background-color: #2087e5;
    color: white;
    border: none;
    border-radius: 1em;
    min-height: 2em;
    margin-bottom: 20px;
    margin-right:5px;
}

.blueButton:hover{
    background-color: #159858;
}

.blueButton:active{
    background-color: #155997;
}

.button-text, .highscore{
    max-width: 100%;
    font-size: 1em;
    letter-spacing: 0.15em;
}

.highscore, .currentScore{
    font-size: 16px;
    display: block;
}

.hidden{
    display: none;
}

.hidden-puzzle-piece{
    display:none;
}

.game-container{
    margin: 20px auto 20px auto;
    font-size:0;
    max-width: 1000px;
    min-width: 400px;
}

.game-container .row div{
    display: inline-block;
}

.row{
    max-width: 100%;
}

.piece-container{
    max-width: 25%;
}

.puzzle-piece{
    text-align: center;
    max-width:100%;
    max-height:100%;
    border: 1px solid black;
}

.puzzle-piece:hover{
    transition: all .4s;
    opacity: .5;
}

.clicked-puzzle{
    padding: 1%;
    width: 99%;
    border: 0;
    margin: auto;
    display: block;
    background-color: #215550;
}

.true-place:hover{
    transition: all .4s;
    border: 1px solid #86eec1;
}

.iframes{
    width: 100%;
    height:100%;
    position:fixed;
    background-color: white;
    opacity: .0;
    left:0;
    top:155px;
}

.bottomSection{
    margin: 20px auto 20px auto;
    width:10%;
}

.leftScore{
    position: static;
    display:block;
    width:100%;
    min-width: 150px;
    margin: 5px auto 5px auto;
    border: 2px solid lightgray;
    border-radius: 10px;
}